.text{
    width: 40%;
    margin: 5%;
    margin-left: 2%;
    margin-top: 7%;
}

.text h1{
    font-size: 40px;
    line-height: normal;
    font-weight: 900;
}


.img_land{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
}

.img_land img{
    width: 100%;
}
