@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.navigation2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.logo{
    padding: 1%;
    padding-left: 2%;
    width: 15%;
}

.logo img{
    width: 100%;
}

.options{
    width: 35%;
    margin: 1.5%;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
}

.options a{
    text-decoration: none;
    color: rgb(32, 43, 73);
    font-weight: 500;
    padding: 2%;
    height: fit-content;
}

.options a:hover{
    color: black;
}

#login{
    background-color: rgb(23, 58, 133);
    color: white;
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
}