*{
    font-family: 'Montserrat', sans-serif;
}

.img_land{
    width: 40%;
}

.img_land img{
    width: 100%;
}

.text a{
    text-decoration: none;
    padding: 2.5%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #76F45B;
    color: white;
    font-weight: 900;
    font-size: 15px;
    border-radius: 5px;
}